<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Novo Lançamento</h1>
    </div>
  </div>

  <form>
    <div class="ui-g-12">
      <p-selectButton [options]="tipos" #tipo></p-selectButton>
    </div>
    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label for="vencimento">Vencimento</label>
      <p-calendar dateFormat="dd/mm/yy" showIcon="true" id="vencimento"></p-calendar>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label for="recebimento">{{formataLabelRecebimentoOuPagamento(tipo.value)}}</label>
      <p-calendar id="recebimento" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" pInputText>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label for="valor">Valor</label>
      <input type="text" id="valor" pInputText placeholder="0,00" currencyMask
             [options]="{ prefix: 'R$', locale: 'pt-BR', thousands:'.', decimal: ',', allowNegative:false}">
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="categoria">Categoria</label>
      <p-dropdown id="categoria" [options]="categorias"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="pessoa">Pessoa</label>
      <p-dropdown id="pessoa" [options]="pessoas" filter="true"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="observacao">Observação</label>
      <textarea rows="3" id="observacao" pInputTextarea></textarea>
    </div>

    <div class="ui-g-12">
      <button pButton label="Salvar" type="submit"></button>
      <button pButton label="Novo" type="button" class="ui-button-success ml-2"></button>
      <a href="#" class="ml-2">Voltar para pesquisa</a>
    </div>

  </form>
</div>
