/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  margin: 0;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1600px;
    margin: 0 auto;
  }
}

.col-valor-header {
  width: 120px;
}
.col-valor-content {
  text-align: right;
}
.col-data-header {
  width: 120px;
}
.col-data-content {
  text-align: center;
}
.col-acoes {
  width: 120px;
  text-align: center;
}

.margin-right {
  margin-right: 5px;
}
.margin-bottom{
  margin-bottom: 5px ;
}
